<div class="column-wrapper">
    <div class="column">
        @await Html.Kentico().WidgetZoneAsync()
    </div>

    <div class="column">
        @await Html.Kentico().WidgetZoneAsync()
    </div>
</div>