@model BaseViewModel

<!DOCTYPE html>

<html lang="en">

<head>
    <title>@Model.Title</title>
    @await Html.PartialAsync( "Head/_Meta", Model.Meta )
    @await Html.PartialAsync( "Head/_OpenGraph", Model.OpenGraph )

    <link href="/dist/master.min.css" rel="stylesheet" asp-append-version="true" />
    @await RenderSectionAsync( "head", required: false )
</head>

<body class="@ViewBag.ContainerClassName">
    <main role="main">
        @RenderBody()
    </main>

    <script src="/dist/master.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync( "scripts", required: false )
</body>

</html>
