@model BaseViewModel

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@Model.Title</title>
    @await Html.PartialAsync( "Head/_Meta", Model.Meta )
    @await Html.PartialAsync( "Head/_OpenGraph", Model.OpenGraph )

    <environment names="Development">
        <link href="https://localhost:10001/master.min.css" rel="stylesheet" />
    </environment>
    <environment names="Production">
        <link href="/master.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @await RenderSectionAsync( "head", required: false )
</head>

<body class="@ViewBag.ContainerClassName">
    <main role="main">
        @RenderBody()
    </main>

    <environment names="Development">
        <script src="https://localhost:10001/master.min.js"></script>
    </environment>
    <environment names="Production">
        <script src="/master.min.js" asp-append-version="true"></script>
    </environment>

    @await RenderSectionAsync( "scripts", required: false )
</body>
</html>
