@model HomeViewModel

@{ ViewBag.ContainerClassName = "home"; }

@section head {
    <link href="/home.min.css" rel="stylesheet" asp-append-version="true" />
}

<h1 class="title">@Model.Title</h1>
@if( Model.FeaturedAuthorGuid.HasValue )
{   
    @await Component.InvokeAsync( "Author", new { authorGuid = Model.FeaturedAuthorGuid } )
}

@await Html.PartialAsync( "_RecentArticles", Model.RecentArticles )

@section scripts {
    <script src="/home.min.js" asp-append-version="true"></script>
}
