.author {
  .author-image {
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px #363636;
    display: inline-block;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
    width: 50px;

    img {
      height: auto;
      width: 100%;
    }
  }

  .author-details {
    display: inline-block;
    line-height: 1.175em;

    .author-name {
      font-weight: 600;
      margin-bottom: 8px;
    }
  }
}
