@import "~medium-editor/dist/css/medium-editor.css";
@import "~medium-editor/dist/css/themes/default.css";

div.medium-editor-anchor-preview,
div.medium-editor-toolbar {
  z-index: 100000;
}

.text-editor {
  &.medium-editor-element {
    &:focus {
      outline: 0;
    }

    &:hover {
      cursor: text;
    }

    &:not([data-medium-focused]):hover {
      background-color: rgba(155, 155, 155, 0.17);
    }
  }

  .medium-editor-placeholder {
    &:after {
      position: relative !important;
    }

    *:only-child br:only-child {
      display: none;
    }
  }
}
