@model HomeViewModel

@{ ViewBag.ContainerClassName = "home"; }

@section head {
    <environment names="Development">
        <link href="https://localhost:10001/home.min.css" rel="stylesheet" />
    </environment>
    <environment names="Production">
        <link href="/home.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}

<h1 class="title">@Model.Title</h1>
@if( Model.FeaturedAuthorGuid.HasValue )
{   
    @await Component.InvokeAsync( "Author", new { authorGuid = Model.FeaturedAuthorGuid } )
}

@await Html.PartialAsync( "_RecentArticles", Model.RecentArticles )

@section scripts {
    <environment names="Development">
        <script src="https://localhost:10001/home.min.js"></script>
    </environment>
    <environment names="Production">
        <script src="/home.min.js" asp-append-version="true"></script>
    </environment>
}
